@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
  animation-delay: var(--animation-delay, 0ms);
}

.image_wrapper {
  margin: 0 30px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 0px #1313131A;
}

.image_wrapper img {
  object-fit: contain;
}

.rfm-initial-child-container {
  padding: 20px 0;
}

.link-items {
  width: 52px;
  height: 52px;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-items div {
  background-color: #222222;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items div::before {
  content: url(assets/white-arrow.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.4) translate(-55px, 58px);
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items:hover div::before {
  transform: scale(1) translate(-50%, -50%);
}

.link-items img {
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items:hover img {
  opacity: 0;
}

.img-marquee {
  position: relative;
  margin-top: 80px;
  overflow-x: hidden;
}

.img-marquee:before,
.img-marquee:after {
  position: absolute;
  top: 0;
  content: "";
  width: 140px;
  height: 100%;
  z-index: 2;
}

.img-marquee:before {
  left: 0;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255));
}

.img-marquee:after {
  right: 0;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255));
}

.logos {
  grid-column-gap: 30px;
  opacity: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: grid;
  width: 300rem;
  animation: slide 35s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(calc(0% + 50px));
  }

  100% {
    transform: translateX(-100%);
  }
}

.logo_items img {
  max-width: inherit;
}

.logos:hover {
  animation-play-state: paused;
}