@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
  animation-delay: var(--animation-delay, 0ms);
}

.image_wrapper {
  margin: 0 30px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 0px #1313131A;
}

.image_wrapper img {
  object-fit: contain;
}

.rfm-initial-child-container {
  padding: 20px 0;
}

