@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
  animation-delay: var(--animation-delay, 0ms);
}

.image_wrapper {
  margin: 0 30px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 0px #1313131A;
}

.image_wrapper img {
  object-fit: contain;
}

.rfm-initial-child-container {
  padding: 20px 0;
}

.link-items {
  width: 52px;
  height: 52px;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-items div {
  background-color: #222222;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items div::before {
  content: url(assets/white-arrow.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.4) translate(-55px, 58px);
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items:hover div::before {
  transform: scale(1) translate(-50%, -50%);
}

.link-items img {
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.link-items:hover img {
  opacity: 0;
}